/* 폼 요소들의 스타일 */
.form-control__items {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 300px;
  width: 100%;
}

/* 버튼 스타일 */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
