
.fc-day a{
    font-weight: bold;
    color: black;
}
/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
    color: red;
}
  
/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;
}

#title{
    font-weight: bold;
    color: black;
    font-size:x-large;
    display: inline-block;
}
#simple_announce_div {
   
    display: flex;
  }
/* .Home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .Home-container .fc {
    
    width: 800px; 
    height: 600px; 
  } */

  

@media (max-width: 768px) {
    #simple_announce {
      margin-top: 10px; /* 모바일 뷰에서는 더 작은 간격으로 설정합니다. */
      margin-left: 20px;
      
    }
    #title{
        margin-right: 30vw;
    }
  }
  
  /* 화면 크기가 768px보다 크고 1200px 이하일 때 (타블렛 뷰) */
  @media (min-width: 769px) and (max-width: 1200px) {
    #simple_announce {
      margin-top: 20px; /* 타블렛 뷰에서는 중간 크기의 간격으로 설정합니다. */
      margin-left: 40px;
    }
    #title{
        margin-right: 70vw;
    }
  }
  
  /* 화면 크기가 1201px 이상일 때 (데스크탑 뷰) */
  @media (min-width: 1201px) {
    #simple_announce {
      margin-top: 30px; /* 데스크탑 뷰에서는 더 큰 간격으로 설정합니다. */
      margin-left: 40px;
    }
    #title{
        margin-right: 80vw; /* 데스크탑 뷰에서는 더 큰 간격으로 설정합니다. */
      }
  }