.login-page {
  height: 670px;
  background-color: #0343cb;
}

.Logo {
  width: 106px;
  height: 44px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

#logoid {
  max-width: 100%;
  height: auto;
  border-radius: 12px 12px 12px 12px;
}

.centered-img {
  display: block;
  margin: auto;
}

#logintitle {
  font-size: 1.325em;
  line-height: 1.4;
  margin: 0px 0 0px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#login-text {
  color: #0343cb;
  font-weight: bold;
}

.title.mx-auto {
  font-weight: bold;
}

#logintag {
  color: red;
}

#bottom {
  height: 670px;
  background-color: #fffffff1;
}

.btn-info {
  color: #fff;
  background-color: #0343cb;
  border-color: #0343cb;
}
